@charset "UTF-8";

body {
	background:  url(img/prueba3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.noticia {
	margin-left: 52.5%;
	width: 700px;
	height: 500px;
	border: none;

}

.footer .box1 {
	background-color: rgba(64, 156, 87, 0.7);
	color:#fff;
	font-size: 15px;
	margin: auto;
	position: relative;
	bottom: 0;
	padding: 0.5em 0;
	margin-top: 1%;
}

.footer .box1 .seccion1 h2{
	color:rgb(2, 70, 9);
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
}

.footer .box1 .seccion1 p.texto{
	color:rgb(12, 1, 155);
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.footer .box1 .seccion2 h2{
	color:rgb(0, 112, 50);
	font-size: 20px;
	margin-bottom: 5px;
	text-align:right;
}

.footer .box1 .seccion2 p{
	color:rgb(132, 146, 3);
	font-size: 15px;
	margin-bottom: 0px;
	text-align: right;
}
